
h1{
    text-align: center;
}
table{
    border: 1px solid;
    border-collapse: collapse;
    margin:auto;
    margin-bottom: 30px;
    

}
tr{
    border: 1px solid; 
    
}
th, td{
    border: 1px solid;
}
th{
    color: white;
    background-color: rgb(95, 66, 149);
}