

h1{
    text-align: center;
}
.content h4{
    width: 600px;
    font-size: 30px;
    float: left;
    margin: 0px 60px 200px 60px;

}
.content video{
    float: left;
}
.content2{
    clear: both;
}

.content2 h4{
    width: 600px;
    font-size: 30px;
    float: left;
    padding-top: 20px;
    margin: 0px 60px 180px 60px;
}
.content2 video{
    float: left;
}
.tb{
    clear: both;
    max-width: 60%;
    margin: auto;
    margin-bottom: 15px;
    
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    
}
tr th{
    border: 1px solid black;
    padding: 8px;
    background-color: rgb(105, 50, 177);
    color:white;
}
tr td {
    border: solid;
    padding: 8px;
    
}
.r2{
    background-color: rgb(195, 194, 194);
}